
<div class="nav-nav nav-nav-black">
    <div class="nav-nav nav-nav-red">
        <div class="nav-nav nav-nav-white">
            <button class="nav-nav-btn nav-close-btn"><i class="fa fa-times"></i></button>
            <img alt="logo" class="nav-logo" src="../images/logo-dark.png">
            <ul class="nav-list">
                <li id="home"><i class="fa fa-home" aria-hidden="true" style="margin-right: 15px;"></i><a href="../../paths/home/home.html">Главная страница</a></li>
                <li id="demo"><i class="fa fa-pencil" aria-hidden="true" style="margin-right: 15px;"></i><a href="../../paths/graphDemo/graphDemo.html">Демонстрация</a></li>
                <li id="theory"><a href="#"><i class="fa fa-book" aria-hidden="true" style="margin-right: 15px;"></i>Теория графа <i class="far fa-angle-down"></i></a></li>
                <li id="theory-sub">
                    <ul>
                        <li><a href="../../paths/theory/dfs/dfs.html">Поиск в глубину</a></li>
                        <li><a href="../../paths/theory/bfs/bfs.html">Поиск в ширину</a></li>
                        <li><a href="../../paths/theory/prim/prim.html">Алгоритм Прима</a></li>
                        <li><a href="../../paths/theory/kruskal/kruskal.html">Алгоритм Краскала</a></li>
                        <li><a href="../../paths/theory/dijkstra/dijkstra.html">Алгоритм Дейкстры</a></li>
                        <li><a href="../../paths/theory/bellman_ford/bellman_ford.html">Алгоритм Форда-Беллмана</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="social-panel-container">
    <div class="social-panel">
        <p>Сделано <i class="fa fa-heart"></i>
            <a target="_blank" href="https://gitlab.com/thienlongtpct">thienlongtpct</a></p>
        <button class="close-btn"><i class="fas fa-times"></i></button>
        <h4>Мои контакты</h4>
        <ul>
            <li>
                <a href="https://vk.com/thienlongtpct" target="_blank">
                    <i class="fab fa-vk"></i>
                </a>
            </li>
            <li>
                <a href="https://instagram.com/thienlongtpct" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
            <li>
                <a href="https://facebook.com/long.vominhthien" target="_blank">
                    <i class="fab fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/thienlongtpct" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<button class="floating-btn">
    Контакт
</button>