body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#my-container {
    width: 70%;
    margin: 70px auto 50px;
    background-color: #ffffff !important;
}

#introGraphContainer {
    width: 100%;
    margin-bottom: 10px;
}

#introGraph {
    display: inline-block;
    width: 100%;
    height: 300px;
    padding: 10px;
    margin-left: -50px;
}

.my-logo {
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

#graphContainer {
    width: 100%;
    padding: 0px;
    height: 100%;
}

#graph {
    height: 300px;
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
    border-radius: .25rem;
}

#sigmaJS {
    float: left;
    width: 47.5%;
}

#codeMirror {
    float: right;
    width: 47.5%;
}

.CodeMirror {
    font-size: 12px;
}

.content {
    margin-top: 50px;
}

p, li {
    text-align: justify;
}