.my-container {
    margin-left: auto;
    margin-right: auto;
    width: 97%;
    margin-top: 50px;
    padding: 2rem;
    background-color: #ffffff !important;
    overflow: auto;
}

#leftComponent {
    float: left;
    width: 18%;
}

#leftComponent button {
    font-size: 15px;
    margin-top: 0;
    width: 47%;
    margin-bottom: 15px;
}

#undirectedButton {
    border-radius: .25rem 0 0 .25rem;
    float: left;
}

#directedButton {
    border-radius: 0 .25rem .25rem 0;
    float: right;
}

#divN {
}

#divEdge {
    margin-top: 15px;
}

#drawGraph {
    margin-top: 15px;
    overflow: auto;
}

#drawButton {
    border-radius: .25rem 0 0 .25rem;
    float: left;
}

#deleteButton {
    border-radius: 0 .25rem .25rem 0;
    float: right;
}

#middleComponent {
    margin-left: 1%;
    float: left;
    width: 52%;
}

#middleHeader {
}

#chooseAlgorithm {
    display: inline-block;
    width: 45%;
    padding: 0;
    float: left;
}

.bootstrap-select {
    border: 1px solid rgb(23, 36, 50) !important;
    border-radius: 0.25rem;
    width: 100% !important;
    margin-bottom: 0;
}

.dropdown-menu {
    width: 100% !important;
}

#chooseSource {
    display: inline-block;
    width: 53%;
    float: right;
}

#source {
    border: 1px solid rgb(23, 36, 50) !important;
}

#startAlgorithm {
    border-color: rgb(32, 46, 62);
    color: rgb(32, 46, 62);
    background-color: #ffffff;
}

#startAlgorithm:hover {
    color: #ffffff;
    background-color: rgb(32, 46, 62);
    border-color: rgb(23, 36, 50);
}

#middleFooter {
    width: 100%;
    text-align: center;
}

#chooseAction {
    display: inline-block;
    width: 75%;
    margin-top: 15px;
}

#chooseAction button {
    font-size: 15px;
    width: 30%;
    margin-top: 0;
}

#prevButton {
    border-radius: .25rem 0 0 .25rem;
    float: left;
}

#stopButton {
    border-radius: 0;
    width: 36% !important;
    margin-left: 2%;
    float: left;
}

#nextButton {
    border-radius: 0 .25rem .25rem 0;
    float: right;
}


#graphContainer {
    float: right;
    width: 100%;
    padding: 0;
    height: 100%;
}

#graph {
    height: 400px;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    border-radius: .25rem;
}

.my-button {
    background-color: rgb(32, 46, 62);
    border: 1px solid rgb(23, 36, 50) !important;
    color: white;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#rightComponent {
    margin-left: 1%;
    width: 28%;
    float: right;
    height: 100%;
}

#rightHeader {
    text-align: center;
    width: 100%;
}

#rightHeader button {
    text-align: center;
    font-size: 15px;
    width: 32%;
    display: inline-block;
    margin: 0 0 15px 0;
}

#introduction {
    margin-right: 2%;
    border-radius: 0.25rem 0 0 0.25rem;
}

#instruction {
    margin-right: 2%;
    border-radius: 0;
}

#explain {
    border-radius: 0 0.25rem 0.25rem 0;
}

#display {
    border-radius: 0.25rem;
    border: 1px solid black;
    height: 400px;
    padding: 15px 15px 15px 25px;
}

#introductionContent {
    overflow: auto;
    display: initial;
    padding-right: 15px;
    height: 300px;
}

#instructionContent, #editContent {
    height: 370px;
}

#display ul {
    margin-left: -10px;
    font-size: 14px;
}

#display ol {
    margin-left: -10px;
    font-size: 14px;
}

#display li {
    margin-left: -10px;
}

#display p {
    font-size: 14px;
}

#display h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

#display h5 {
    font-size: 16px;
}

.node {
    height: 13px;
    width: 13px;
    display: inline-block;
    border-radius: 1rem;
    margin-right: 5px;
}

.blue-node {
    background-color: #0652DD;
}

.green-node {
    background-color: #2ecc71;
}

.yellow-node {
    background-color: #fdd023;
}

.red-node {
    background-color: #e74c3c;
}

.edge {
    height: 2px;
    width: 15px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}

.black-edge {
    background-color: #000000;
}

.red-edge {
    background-color: #e74c3c;
}

.green-edge {
    background-color: #2ecc71;
}

#rightFooter {
    text-align: center;
}

#saveGraph {
    display: inline-block;
    margin-top: 15px;
    overflow: auto;
    width: 80%;
}

#saveGraph button {
    font-size: 15px;
    margin-top: 0;
    width: 47%;
    margin-bottom: 15px;
}

#savePNG {
    border-radius: .25rem 0 0 .25rem;
    float: left;
}

#saveJPG {
    border-radius: 0 .25rem .25rem 0;
    float: right;
}

p, li {
    text-align: justify;
}