body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#my-container {
    width: 70%;
    margin: 70px auto 50px;
    background-color: #ffffff !important;
}

.content {
    margin-top: 50px;
}

.sub-content {
    margin-left: 30px;
    margin-bottom: 20px;
}

.subtitle {
    font-family: 'Exo 2', sans-serif;
    margin: 20px;
}

h4 {
    margin-bottom: 20px;
}

p, li {
    text-align: justify;
}

table {
    margin: 0px auto 20px;
    width: 400px;
}

th {
    color: white;
    background-color: #202e3e;
    font-weight: normal;
}

td, th {
    border: 1px solid black;
    text-align: center !important;
    padding: 10px 10px;
}
